@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #f3f4f6;
    --secondary: #f9fafb;
    --dark: #1f2937;
    --light: #e4e7eb;
    --danger: #dc2626;
    --success: #10b981;
    --tran-03: all 0.3s ease;
}
.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    transition: var(--tran-03);
}

.sidebar .image-text img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
