@import "tailwindcss";
@source "../views";

@plugin "daisyui" {
    name: "deepcat";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(96% 0.015 12.422);
    --color-base-200: oklch(94% 0.03 12.58);
    --color-base-300: oklch(89% 0.058 10.001);
    --color-base-content: oklch(41% 0.159 10.272);
    --color-primary: oklch(87% 0.006 286.286);
    --color-primary-content: oklch(14% 0.005 285.823);
    --color-secondary: oklch(86% 0.022 252.894);
    --color-secondary-content: oklch(12% 0.042 264.695);
    --color-accent: oklch(84% 0.143 164.978);
    --color-accent-content: oklch(26% 0.051 172.552);
    --color-neutral: oklch(51% 0.222 16.935);
    --color-neutral-content: oklch(96% 0.015 12.422);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(71% 0.202 349.761);
    --color-error-content: oklch(28% 0.109 3.907);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@theme {
    --font-baskerville: "Baskerville", serif;
}
* {
    font-family: "Libre Bodoni", serif;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding, 0.5rem /* 8px */);
    min-height: 3rem /* 64px */;
    width: 100%;
}

/* ===== SIDEBAR ===== */
.main-content {
    width: 100%;
    height: 100vh;
    transition: 0.3s;
}
.sidebar {
    transition: 0.3s;
}
.main-content_large {
    width: 100%;
}
.sidebar header .name {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark);
}
/* .sidebar header {
    height: 56px;
    align-items: center;
    position: relative;

    shadow-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */
.sidebar header .rotasi {
    position: absolute;
    top: 20px;
    right: -20px;
    transform: translateY(-50%);
}
.sidebar_small {
    width: 0;
    transition: 0.3s;
}

.text_avatar_small {
    transition: 0.4s;
    width: 0;
}
.theme_control {
    position: static;
}
