@import "tailwindcss";
@source "../views";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "sunnyunicorn";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(82% 0.12 346.018);
    --color-primary-content: oklch(28% 0.109 3.907);
    --color-secondary: oklch(78% 0.115 274.713);
    --color-secondary-content: oklch(25% 0.09 281.288);
    --color-accent: oklch(83% 0.145 321.434);
    --color-accent-content: oklch(29% 0.136 325.661);
    --color-neutral: oklch(12% 0.042 264.695);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(70% 0.14 182.503);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.1875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@theme {
    --font-baskerville: "Baskerville", serif;
}
* {
    font-family: "Libre Bodoni", serif;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding, 0.5rem /* 8px */);
    min-height: 3rem /* 64px */;
    width: 100%;
}

/* ===== SIDEBAR ===== */
.main-content {
    width: 100%;
    height: 100vh;
    transition: 0.3s;
}
.sidebar {
    transition: 0.3s;
}
.main-content_large {
    width: 100%;
}
.sidebar header .name {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark);
}
/* .sidebar header {
    height: 56px;
    align-items: center;
    position: relative;

    shadow-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */
.sidebar header .rotasi {
    position: absolute;
    top: 20px;
    right: -20px;
    transform: translateY(-50%);
}
.sidebar_small {
    width: 0;
    transition: 0.3s;
}

.text_avatar_small {
    transition: 0.4s;
    width: 0;
}
.theme_control {
    position: static;
}
